<div class="flex flex-col items-center bg-[#90a6ad] mb-12">
  <div *ngFor="let peli of [pelicula]" class="flex flex-row w-[90%] mt-12 border-t border-gray-300 pt-12">
    <img class="h-[268px] w-[182px]" [src]="pelicula.pelicula_image">
    <div class="ml-10 mt-7">
      <h1 class="text-white font-black">{{ pelicula.pelicula_titulo}}</h1>
      <h2>{{ pelicula.pelicula_duracion}} minutos.</h2>
      <p>{{ pelicula.pelicula_descripcion}}</p>
      <button class="bg-[#171616] hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">Comprar entradas</button>
    </div>
  </div>
</div>
