<div class="bg-green-200 py-32 px-10 min-h-screen ">

  <div class="mb-10">
    <h1 class="text-3xl tracking-tighter pb-1">{{ 'admin.bienvenido' | translate }} <span class="font-bold">{{
        user[0].user_first_name }} {{ user[0].user_last_name }}!</span></h1>
  </div>
  <div class="bg-white p-10 md:w-3/4 lg:w-1/2 mx-auto">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="flex items-center mb-5">
        <label for="name" class="inline-block w-20 mr-6 text-right
                                 font-bold text-gray-600">Nombre</label>
        <input formControlName="firstName"
               class="flex-1 py-2 border-b-2 border-gray-400 focus:border-green-400
                      text-gray-600 placeholder-gray-400
                      outline-none" type="text" name="firstName" id="firstName" placeholder="{{ 'register.name' | translate }}" value="{{ user[0].user_first_name }}"
                      [ngClass]="{'input-error': registerForm?.get('firstName')?.invalid && registerForm?.get('firstName')?.touched}">
      </div>

      <div class="flex items-center mb-5">
        <label for="lastName" class="inline-block w-20 mr-6 text-right
                                 font-bold text-gray-600">Apellidos</label>
        <input formControlName="secondLastName"
               class="flex-1 py-2 border-b-2 border-gray-400 focus:border-green-400
                      text-gray-600 placeholder-gray-400
                      outline-none" type="text" name="secondLastName" id="secondLastName" placeholder="{{ 'register.lastName' | translate }}" value="{{ user[0].user_last_name }}"
                      [ngClass]="{'input-error': registerForm.get('secondLastName')?.invalid && registerForm.get('secondLastName')?.touched}">
      </div>

      <div class="flex items-center mb-5">
        <label for="email" class="inline-block w-20 mr-6 text-right
                                 font-bold text-gray-600">Correo electrónico</label>
        <input formControlName="email" class="flex-1 py-2 border-b-2 border-gray-400 focus:border-green-400
        text-gray-600 placeholder-gray-400
        outline-none" type="email"
        name="email" id="email" placeholder="{{ 'register.email' | translate }}" value="{{ user[0].user_email }}"
        [ngClass]="{'input-error': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}">

      </div>

      <div class="flex items-center mb-5">
        <label for="phone" class="inline-block w-20 mr-6 text-right
                                 font-bold text-gray-600">Teléfono</label>
        <input formControlName="phone"
               class="flex-1 py-2 border-b-2 border-gray-400 focus:border-green-400
                      text-gray-600 placeholder-gray-400
                      outline-none" type="tel"
                      name="phone" id="phone" placeholder="{{ 'register.phone' | translate }}" value="{{ user[0].user_telefono }}"
                      [ngClass]="{'input-error': registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched}">
      </div>
      <!-- Mensajes de error -->
      <div class="text-white text-sm mt-2">
        <div *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched">
          {{ 'register.errors.name' | translate }}
        </div>
        <div
          *ngIf="registerForm.controls['secondLastName'].invalid && registerForm.controls['secondLastName'].touched">
          {{ 'register.errors.lastName' | translate }}
        </div>
        <div *ngIf="registerForm.controls['email'].errors?.['required'] && registerForm.controls['email'].touched">
          {{ 'register.errors.email' | translate }}
        </div>
        <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].value != ''">
          {{ 'register.errors.emailInvalid' | translate }}
        </div>
          <div *ngIf="registerForm.controls['phone'].errors?.['required'] && registerForm.controls['phone'].touched">
          {{ 'register.errors.phone' | translate }}
        </div>
        <div *ngIf="registerForm.controls['phone'].invalid && registerForm.controls['phone'].value != ''">
          {{ 'register.errors.phoneInvalid' | translate }}
        </div>
      </div>

    <!-- Botón de envío -->
    <button
      class="py-3 px-8 bg-green-400 text-white font-bold">
      Actualizar
    </button>

    </form>
  </div>
</div>
