<div class="flex justify-center">
  <div class="container">
    <div class="flex flex-row justify-center">
      <p class="text-white text-3xl font-medium mt-5">{{ titulopeli }}</p>
      <p class="text-white text-3xl font-medium mt-5 pl-3">|</p>
      <p class="text-white text-3xl font-medium mt-5 pl-3">{{ nombre_sala }}</p>
    </div>
    <!--Pantalla-->
    <div class="pantalla"></div>
    <!--Asientos-->
    <div *ngFor="let fila of filas; let i = index" class="mb-4 w-72 flex justify-center">
      <div *ngIf="i >= 0 && i <4">
        <ng-container *ngFor="let asiento of fila.asientos; let j = index">
          <div *ngIf="j < 1 || j > 5" class="relative h-[24px] w-[24px] inline-block pl-1" [ngClass]="{'asiento-pulsado': asiento.asiento_clickado === true}" [ngClass]="{'asiento-ocupado': asiento.asiento_disponible === 'N'}" (click)="!asiento.ocupado && mostrarInfoAsieto(asiento)">
            <svg [ngStyle]="{'fill': asiento.asiento_clickado === true ? 'lime' : asiento.asiento_disponible === 'N' ? 'white' : 'black'}" class="seat-background absolute" viewBox="0 0 24 24">
              <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
            </svg>
          </div>
          <div *ngIf="j==1" class="relative h-[24px] w-[48px] inline-block pl-1 pr-1" [ngClass]="{'asiento-ocupado': asiento.asiento_disponible === 'N'}" (click)="!asiento.ocupado && mostrarInfoAsieto(asiento)">
            <svg [ngStyle]="{'fill': asiento.asiento_clickado === true ? 'lime' : asiento.asiento_disponible === 'N' ? 'white' : 'black'}" class="seat-background absolute h-[20px] w-[20px] flex" viewBox="0 0 24 24">
              <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
            </svg>
          </div>
          <div *ngIf="j==2" class="relative h-[24px] w-[24px] inline-block pl-1 pr-1" [ngClass]="{'asiento-ocupado': asiento.asiento_disponible === 'N'}" (click)="!asiento.ocupado && mostrarInfoAsieto(asiento)">
            <svg [ngStyle]="{'fill': asiento.asiento_clickado === true ? 'lime' : asiento.asiento_disponible === 'N' ? 'white' : 'black'}" class="seat-background absolute" viewBox="0 0 24 24">
              <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
            </svg>
          </div>
          <div *ngIf="j >2 && j <5 " class="relative h-[24px] w-[24px] inline-block pl-1" [ngClass]="{'asiento-ocupado': asiento.asiento_disponible === 'N'}" (click)="!asiento.ocupado && mostrarInfoAsieto(asiento)">
            <svg [ngStyle]="{'fill': asiento.asiento_clickado === true ? 'lime' : asiento.asiento_disponible === 'N' ? 'white' : 'black'}" class="seat-background absolute" viewBox="0 0 24 24">
              <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
            </svg>
          </div>
          <div *ngIf="j==5" class="relative h-[24px] w-[48px] inline-block pl-1 pr-1" [ngClass]="{'asiento-ocupado': asiento.asiento_disponible === 'N'}" (click)="!asiento.ocupado && mostrarInfoAsieto(asiento)">
            <svg [ngStyle]="{'fill': asiento.asiento_clickado === true ? 'lime' : asiento.asiento_disponible === 'N' ? 'white' : 'black'}" class="seat-background absolute h-[20px] w-[20px]" viewBox="0 0 24 24">
              <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
            </svg>
          </div>
        </ng-container>
      </div>
      <div *ngIf="i == 4">
        <div *ngFor="let asiento of fila.asientos" class="relative h-[24px] w-[24px] inline-block pl-1" [ngClass]="{'asiento-ocupado': asiento.asiento_disponible === 'N'}" (click)="!asiento.ocupado && mostrarInfoAsieto(asiento)">
          <svg [ngStyle]="{'fill': asiento.asiento_clickado === true ? 'lime' : asiento.asiento_disponible === 'N' ? 'white' : 'black'}" class="seat-background absolute fill-black" viewBox="0 0 24 24">
            <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
          </svg>
        </div>
      </div>
    </div>
    <!--Leyenda-->
    <div class="flex flex-row">
      <p>
        Disponible
      </p>
      <svg class="fill-black h-[24px] w-[24px] ml-2" viewBox="0 0 24 24">
        <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
      </svg>
      <p class="pl-2">
        Seleccionado
      </p>
      <svg class="fill-lime-400 h-[24px] w-[24px] ml-2" viewBox="0 0 24 24">
        <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
      </svg>
      <p class="pl-2">
        Ocupado
      </p>
      <svg class="fill-white h-[24px] w-[24px] ml-2" viewBox="0 0 24 24">
        <path d="M0 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v2h16V2a2 2 0 0 1 2-2 2 2 0 0 1 2 2v18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z"></path>
      </svg>
    </div>
    <div class="w-[90%] flex flex-wrap justify-start align-middle items-center pt-5">
      <p class="text-white text-3xl font-medium items-center">Tus entradas:</p>
      <p class="flex items-center pl-2 text-lg" *ngIf="butacasSeleccionadas.length === 0">Por favor, selecciona las butacas deseadas.</p>
      <p *ngIf="butacasSeleccionadas.length === 1" class="pl-2 text-lg">{{ butacasSeleccionadas.length }} entrada,</p>
      <p *ngIf="butacasSeleccionadas.length > 1" class="pl-2 text-lg">{{ butacasSeleccionadas.length }} entradas,</p>
      <div *ngIf="butacasSeleccionadas.length > 0" class="flex flex-wrap pl-2 text-lg">
        <div *ngFor="let entrada of butacasSeleccionadas">
          <p class="pl-2">(Fila: {{ entrada.asiento_fila }} Numero: {{ entrada.asiento_numero }})</p>
        </div>
      </div>
    </div>
    <div *ngIf="butacasSeleccionadas.length > 0" class="w-[90%] text-white text-3xl font-medium items-center justify-start flex flex-row">
      <p>Precio:</p>
      <p class="pl-2 text-black">{{ precio }} €</p>
    </div>
    <div #paypal></div>
  </div>
</div>
